* {
  box-sizing: border-box;
}

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}

.top-wrapper {
	background-image: url(https://github.com/shinebright-git/umamiresto/raw/master/photo-1492998680170-81f8863d8d2d.jpg)
}
