* {
  box-sizing: border-box;
}

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}

.top-wrapper {
	background-image: url(photo-1492998680170-81f8863d8d2d.jpg)
	background-size: cover;
	color: white;
	text-align: center;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.header-left {
  float: left;
}
